## Python

Python is an interpreted high-level programming language for general-purpose programming. Widely used and has big variety of libraries.


* https://en.wikipedia.org/wiki/Python_(programming_language)
* https://docs.python.org/3/tutorial/index.html
* https://docs.python.org/3/tutorial/introduction.html

## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

### Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

In [2]:
#Main types

a = 1
print "variable a: "+ str(type(a))

b = 1.0
print "variable b: " + str(type(b))

c = 'a'
print "variable c: " + str(type(c))

#you can reassing a variable
c = True
print "variable c: " + str(type(c))

variable a: <type 'int'>
variable b: <type 'float'>
variable c: <type 'str'>
variable c: <type 'bool'>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [3]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [4]:
#Addition
num1 + num2

7

In [5]:
#Substraction
num1 - num2

13

In [6]:
#Multiplication
num1 * num2

-30

In [15]:
#Division
int(-10 / 3)

-4

In [8]:
#Division with float
10.0 / -3.0

-3.3333333333333335

In [16]:
#Exponent
num1**num2

0.001

In [56]:
num1 + num2 == num2

False

In [17]:
num1 += 7
num1

17

In [18]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [19]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [59]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

Write an expression where exponent is evaluated last

In [44]:
#expression here

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [20]:
#Lets deal with lists
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False, num1]

In [21]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False, 17]

In [24]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 17, 5, 'grapes']

In [25]:
list2 = list1 + ['element']
list2

[3, 5, 6, 3, 'dog', 'cat', False, 17, 5, 'grapes', 'element']

In [26]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [31]:
# Access the first item in a sequence
list1[0]

3

In [32]:
# Access the last item in a sequence
list1[4]

'dog'

In [33]:
# Access a range of items in a sequence
list1[3:8]

[3, 'dog', 'cat', False, 17]

In [37]:
#do the same operations for a string
list1 + list1[0:1]
list1.append(1)
list1

[3, 5, 6, 3, 'dog', 'cat', False, 17, 5, 'grapes', 1]

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [38]:
# Use the len() function to determine how many items are in a container
len(list1)

11

In [39]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [40]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [41]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [48]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [53]:
for i in range(len(list1)):
    print list1[i]

3
5
6
3
dog
cat
False
17
5
grapes
1

In [50]:
len(list1)

11

In [54]:
for i in list1:
    print i,

3 5 6 3 dog cat False 17 5 grapes 1

In [57]:
count = 0
while (count < len(list1)):
    print list1[count],
    count += 1

 3 5 6 3 dog cat False 17 5 grapes 1

In [58]:
for i in list1:
    if type(i) == int:
        print i,
    else:
        print "a",

3 5 6 3 a a a 17 5 a 1

In [62]:
#write a for loop, that prints out only even numbers from 6 to 14

    
for i in range(15):
    if (i>6):
        if (i%2==0):
            print i,

8 10 12 14